body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px 20px;
    flex: 1; /* Ajusta para que as seções ocupem espaço igual */
    min-width: 200px; /* Garante uma largura mínima para as seções */
}

.footer-section h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.footer-section ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 1.8;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.footer-icons img {
    width: 40px;
    height: auto;
}

.app-buttons img {
    width: 120px;
    margin: 5px 0;
}

.map iframe {
    width: 100%; /* Garante que o mapa se ajuste em telas menores */
    height: 200px;
    border: 0;
    border-radius: 5px;
}

.address p {
    font-size: 14px;
    margin-top: 10px;
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}

/* Responsividade */
@media (max-width: 768px) {
    footer {
        padding: 20px 20px; /* Reduz o padding em telas pequenas */
    }

    .footer-container {
        flex-direction: column; /* Empilha as seções verticalmente */
        align-items: center; /* Centraliza os elementos */
    }

    .footer-section {
        margin: 15px 0;
        text-align: center; /* Centraliza o texto */
    }

    .app-buttons img {
        width: 100px; /* Reduz o tamanho dos botões do app */
    }

    .map iframe {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .footer-section h3 {
        font-size: 14px; /* Reduz o tamanho dos títulos */
    }

    .footer-section ul li a {
        font-size: 12px; /* Reduz o tamanho das fontes nos links */
    }

    .bottom-text {
        font-size: 10px; /* Diminui o tamanho do texto inferior */
    }
}