/* Reset e Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff1f2b;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #ff1f2b;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e61924;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    color: #ff1f2b;
}

p {
    margin: 10px 0;
}

ul {
    list-style: none;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 600px) {
    .btn {
        display: block;
        margin: 10px auto;
        text-align: center;
    }
    .container {
        padding: 10px;
    }
}
