/* Estilos para o contêiner do carrossel */
.carousel {
    position: relative;
    max-width: 1500px;
    /* Define a largura máxima do carrossel (ajustável conforme necessário) */
    margin: auto;
    /* Centraliza o carrossel horizontalmente */
    overflow: hidden;
}

/* Estilos para o contêiner das imagens do carrossel */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

/* Estilos para cada slide individual */
.slide {
    min-width: 100%;
    transition: opacity 0.5s ease;
}

/* Estilos para as imagens dentro do carrossel */
.carousel-images img {
    max-width: 100%;
    border-radius: 5px;
    margin: 20px auto;
    height: 400px;
    object-fit: cover;
}

/* Estilos para os inputs de rádio (usados para controlar a navegação) */
input[type="radio"] {
    display: none;
}

/* Estilos para o carrossel quando o primeiro slide é selecionado */
#slide1:checked~.carousel-images {
    transform: translateX(0);
}

/* Estilos para o carrossel quando o segundo slide é selecionado */
#slide2:checked~.carousel-images {
    transform: translateX(-100%);
}

/* Estilos para o carrossel quando o terceiro slide é selecionado */
#slide3:checked~.carousel-images {
    transform: translateX(-200%);
}

/* Estilos para a navegação (pontos) abaixo do carrossel */
.carousel-nav {
    text-align: center;
    margin-top: 10px;
}

/* Estilos para cada ponto de navegação */
.carousel-dot {
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.3s;
}

/* Estilos para os pontos de navegação quando um slide é selecionado */
#slide1:checked~.carousel-nav label[for="slide1"],
#slide2:checked~.carousel-nav label[for="slide2"],
#slide3:checked~.carousel-nav label[for="slide3"] {
    background-color: #717171;
}

@media (max-width: 767px) {

    /* Estilos para o contêiner do carrossel */
    .carousel {
        position: flex;
        max-width: 1500px;
        /* Define a largura máxima do carrossel (ajustável conforme necessário) */
        margin: auto;
        /* Centraliza o carrossel horizontalmente */
        justify-content: center;
    }

    /* Estilos para o contêiner das imagens do carrossel */
    .carousel-images {
        display: flex;
        transition: transform 0.5s ease;
    }

    /* Estilos para cada slide individual */
    .slide {
        min-width: 100%;
        transition: opacity 0.5s ease;
    }

    /* Estilos para as imagens dentro do carrossel */
    .carousel-images img {
        max-width: 100%;
        border-radius: 5px;
        object-fit: fill;
        height: 150px;
    }

}

@media (max-width: 1024px) {

    /* Estilos para o contêiner do carrossel */
    .carousel {
        position: flex;
        max-width: 2000px;
        /* Define a largura máxima do carrossel (ajustável conforme necessário) */
        margin: auto;
        /* Centraliza o carrossel horizontalmente */
        justify-content: center;
    }

    /* Estilos para o contêiner das imagens do carrossel */
    .carousel-images {
        display: flex;
        transition: transform 0.5s ease;
    }

    /* Estilos para cada slide individual */
    .slide {
        min-width: 100%;
        transition: opacity 0.5s ease;
    }

    /* Estilos para as imagens dentro do carrossel */
    .carousel-images img {
        max-width: 100%;
        border-radius: 5px;
        object-fit: fill;
        height: 220px;
    }
}

@media (max-width: 412px) {

    /* Estilos para o contêiner do carrossel */
    .carousel {
        position: flex;
        max-width: 2000px;
        /* Define a largura máxima do carrossel (ajustável conforme necessário) */
        margin: auto;
        /* Centraliza o carrossel horizontalmente */
        justify-content: center;
    }

    /* Estilos para o contêiner das imagens do carrossel */
    .carousel-images {
        display: flex;
        transition: transform 0.5s ease;
    }

    /* Estilos para cada slide individual */
    .slide {
        min-width: 100%;
        transition: opacity 0.5s ease;
    }

    /* Estilos para as imagens dentro do carrossel */
    .carousel-images img {
        max-width: 100%;
        border-radius: 5px;  
        object-fit: fill;
        height: 130px;
    }
}